<div class="container">

    <div class="jumbotron">
        
        <h2 id="color-override">Finish The Burger</h2>
        <panel>
            {{!-- <form class="test"> --}}
                <form class="test" action="/burgers/new/" method="POST">
                <div class="form-group">
                    <label for="newburger" id="color-override">Choose A Burger</label>
                    <input type="text" id="newburger" name="burger_name">
                    <button type="submit" name="burger_id" class="btn btn-success" id="anotherburger">Let's Go!</button>
                </div>
            </form>
        </panel>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>Recent Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devour}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><strong>Devoured Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devour}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /row -->

</div>